.file-upload{
  display: flex;
  flex-direction: column;
}

.disappear{
  display: none;
}

.buton{
  background-color: #FF5656;
  border-radius: 12px;
  text-align: center;
  padding: 0.7em;
  color: white;
  font-family: 'Monserrat', sans-serif;
  cursor: pointer;
  font-size: 1.2em;
}

.custom-upload{
  margin-bottom: 1em;
}

.upbutton{
  width: 21em;
  border: 0 solid black;
}

.buton:hover{
  background-color: #dd3434;
}
